*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background: #151c58;
    color:#fff;
}

.coin-search{
    text-align:center;
    margin:25px;
}


.coin-search h1{
    color: #fff;
    font-weight:bold;
    text-shadow:3px 2px #151c58;
    text-align:center;
}

.coin-search input{
    padding:8px;
    width:40%;
    outline:none;
    color:#fff;
    font-weight: bold;
    border:1px solid white;
}

table, td{
    border:1px solid #fff;
    text-align:center;
}

.thead{
    background:#151c58;
    color:white;
}

.coins img{
    height:30px;
    width:30px;
}

.red{
    color:#f00606;
}

.green{
    color:#11d811;
}


@media screen and (max-width:425px){
    .coin-search h1{
        font-size:23px;
    }

    .coin-search input{
        width:70%;
    }
}